@CHARSET "UTF-8";

#details {
	padding: 30px;
}

#details a {
	text-decoration: none;
	font-size: 26px;
	color: red;
}

#details li{
   font-size:26px;
   width:700px;
   border:1px solid red;
   list-style: none;
}